In [1]:
# We will use the dataset and fit a model on this data to train an algorithm deciding whether a message is a spam or its not a spam
# if we look at the dataset it is separated by the tab space. Hence we require some conditional fomatting to read this dataset. 

import pandas as pd

In [9]:
data=pd.read_csv('/content/drive/MyDrive/Spam Classifier-NLP/spam.csv', encoding='ISO-8859-1')

In [10]:
data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [11]:
data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [12]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
import re 
import nltk
nltk.download("stopwords")
nltk.download("punkt")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [15]:
#Data cleaning and Data pre-processing 
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0,len(data)):
  review = re.sub('[^a-zA-Z]',' ',data['v2'][i])
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  corpus.append(review)

In [21]:
# taken the top 5000 most frequent words from the entire array of words. 
# Bag of Words 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000)
X = cv.fit_transform(corpus).toarray()

In [22]:
y = pd.get_dummies(data['v1'])
y = y.iloc[:,1].values

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)

In [24]:
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(X_train,y_train)

In [25]:
y_predict = spam_detect_model.predict(X_test)

In [28]:
from sklearn.metrics import confusion_matrix
confusion_m = confusion_matrix(y_test,y_predict)

In [29]:
print(confusion_m)

[[938  11]
 [  6 160]]